<div class="gridded">
    <app-has-bg-image></app-has-bg-image>
    <app-form-component
    [FormTitle]="is_engineer_route ? 'Generate New Engineer Ticket' : 'Generate New User Ticket'"
    [FormInputs]="is_engineer_route ? 
      [
        {
        id: 'mobile_number', title: 'mobile_number'
        }, 
        {
        id: 'service_needed', title: 'service_needed'
        }
      ] :
      [
        {
        id: 'mobile_number', title: 'mobile_number'
        }, 
        {
        id: 'service_needed', title: 'service_needed'
        },
        {
        id: 'referred_by', title: 'referred_by'
        }
      ]"
    isGuardAuth="false"
    [selectedServiceId]="selectedServiceId"
    (serviceSelected)="onServiceSelected($event)"
    isAdminAuth="false"
    ></app-form-component>
  </div>