.notifier {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: auto;
}

.success {
  background-color: green;
}

.error {
  background-color: red;
}

.notifier-msg {
  flex: 1;
  margin-right: 10px;
}

.close_notifer {
  cursor: pointer;
  font-weight: bold;
}
